.roomImg {
    margin-left: 10px;
}

h3 {
    font-size: 32px;
    font-weight: bold;
    color: #4CAF50;
    width: 150px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.photoGroup {
    display: flex;
    align-items: center;
    margin-top: -25px;
}

.photoForm {
    margin-top: -50px;
}