footer {
    height: 5em;
    position: fixed;
    width: 100%;
    background-color: rgba(0,0,0,.6);
    bottom: 0;
    left: 0;
    right: 0;
}

.footerText {
    text-align: center;
    font-size: 20px;
    color: #fff;
}
