.button {
    width: 30%;
    height: 2.5em;
    color: white;
    margin: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #45a049;
    font-size: 24px;
}
