header {
    width: 100%;
}

/* Create angled background with 'before' pseudo-element */
header::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 10em;
    transform: skewY(-3.5deg) translateY(-60px);
    background: linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6));
    background-size: cover;
}

h1 {
    margin: 0;
    font-size: 40px;
    padding: 0 0 0 4.5rem;
    color: #ff0000;
}
